/** HEADER **/
header,
h1,
h2,
h3,
h4,
h5,
h6,
strong {
    font-family: "Open Sans", sans-serif;
    color: #333;
}

header h1 {
    text-align: center;
}

.nav-links {
    justify-content: space-evenly;
    list-style-type: none;
    list-style: none;
    display: flex;
    gap: 1rem;
    padding: 0;
}

.nav-link, .nav-link:visited {
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background-color: #eee;
    color: #000;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.nav-link:hover,
.nav-link:focus {
    background-color: #015ecc;
    color: #fff;
    outline: 2px solid #fff5be;
    outline-offset: 0;
}

.current {
    display: inline-block;
    padding: 0.5em 1em;
    background-color:#8dd5e8;
    color: #000000;
    border-radius: 4px;
    cursor: default;
    pointer-events: none;
}

.search-container {
    display: flex;
    justify-content: center;
    gap: 0.2rem;
}

/** CONTENT **/
main {
    margin: 0 auto;
    max-width: 70rem;
    min-height: 80vh;
}

img {
    width: 100%;
    border: 1px solid black;
}

table,
th,
td {
    border: 1px solid #333;
    border-collapse: collapse;
    text-align: center;
}

table {
    width: 100%;
}

a:hover {
    text-decoration: none;
}

/** EXAMPLE BOXES **/
.example-box {
    display: flex;
    gap: 1em;
}

.example-box > * {
    flex: 1;
    padding: 1em;
}

.disclaimer-box > * {
    padding: 1em;
    margin-bottom: 1em;
}

.correct {
    background-color: #bbe6b5;
    border: 1px solid darkgreen;
    border-radius: 0.5em;
}

.wrong {
    background-color: #f5c0c0;
    border: 1px solid darkred;
    border-radius: 0.5em;
}

.disclaimer {
    background-color: #fff098;
    border: 1px solid darkgoldenrod;
    border-radius: 0.5em;
}

.info {
    padding: 1em;
    background-color: #dff0ff;
    border: 1px solid #083baa;
    border-radius: 0.5em;
}

.highlighted {
    background-color: yellow;
    border: 1px solid darkgoldenrod;
    border-radius: 0.5em;
}

.color-example {
    width: 95%;
    padding: 2.5% 2.5%;
    background-color: white;
    border-radius: 0.5em;
    border: 1px solid gray;
}

fieldset {
    border-radius: 0.5em;
}


/* FORM STYLING */
input[type=button]:hover,
button {
    cursor: pointer;
}

.block-form > * {
    display: block;
}

.block-form input {
    margin-bottom: 0.5rem;
}

.block-form label,
.block-form p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.block-form input[type=text],
.block-form input[type=email],
.block-form input[type=password] {
    border: 1px solid #333;
    border-radius: 0.25rem;
    padding: 0.2em 0.3em;
    font-size: 1.15rem;
}

/** FOOTER **/
footer {
    text-align: center;
    margin-top: 2rem;
}

/** GENERAL USE **/
.hidden {
    display: none;
}

/** ANIMATIONS **/
@keyframes flash {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.flashing {
    animation: flash 1s infinite alternate;
}

.moderate-flashing {
    animation: flash 0.25s infinite alternate;
}

.quick-flashing {
    animation: flash 0.1s infinite alternate;
}

/** ORIENTATION **/
@media screen and (max-width: 885px) {
    header ul {
        padding: 0;
    }

    .example-box {
        flex-direction: column;
    }
}

.touch-target{
  width:90%;
  margin: 10px;
}

.touch-target [type="checkbox"]:not(:checked)+label:before,
.touch-target [type="checkbox"]:checked+label:before {
  content: '';
  position: absolute;
  margin-left: -1.70em;
  margin-top: -0.20em;

  min-width: 24px;
  min-height: 24px;
  border: 1px dotted red;
  background: transparent;
}

.insufficient-touch-target{
  width:90%;
  margin: 0 auto;
}
