@import './base.css';

/* 1.2.2 video */
.gl-1-2-2 video {
    width: 320px;
    height: 240px;
}

/* 1.3.1 form example */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  left: -10000px;
  overflow: hidden;
}

.control, fieldset {
  margin: 6px 0;
}

label {
  display: inline-block;
  width: 120px;
  vertical-align: top;
}

.required {
  color: rgb(185, 0, 0);
}

/* 1.3.2 white space example */
.column-example {
    display: flex;
    flex-direction: row-reverse;
    gap: 1em;
}

.column-example > * {
    flex: 1;
}

.column-example-corr {
    display: flex;
    flex-direction: row;
    gap: 1em;
}

.column-example-corr > * {
    flex: 1;
}

.white-spacing {
    letter-spacing: 0.3em;
}

/* 1.3.3 sensory characteristics example */
.nav-menu {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

.nav-menu > * {
    font-size: 30px;
    display: flex;
    flex-direction: column;
}

.gl-1-3-3-nav-link {
    font-size: 30px;
    display: flex;
    flex-direction: column;
}

/* 1.3.4 orientation example */
.orientation {
    text-align: center;
    font-size: 2rem;
}

@media all and (orientation: landscape) {
    .orientation { display: block; }
    .corr-orientation { display: none; }
}

@media all and (orientation: portrait) {
    .orientation { display: none; }
    .corr-orientation { display: block; }
}

/* 1.4.1 use of color */
.gl-1-4-1 {
    text-decoration: none;
    color: rgb(185, 0, 0);
}

.gl-1-4-1-labels {
    display: block;
    margin-bottom: 0.2em;
}

.gl-1-4-1-error-msg {
    color: rgb(185, 0, 0);
    margin: 0.3em 0;
}

.gl-1-4-1-input-error {
    border-color: rgb(185, 0, 0);
    display: block;
    margin-bottom: 0.5em;
}

.gl-1-4-1-distinct-link {
    color: rgb(51, 51, 255);
    text-decoration: underline;
}

/* 1.4.3 contrast (minimum) */
.gl-1-4-3-normal-text-insufficient {
    color: slategray;
}

.gl-1-4-3-large-text-insufficient {
    color: #a9bdd1;
}

.large-text {
    font-size: 24px;
}

.large-text-bold {
    font-size: 19px;
    font-weight: bold;
}

.BGcolor-example {
   position:relative;
    height: 100px;
    width: 100%;
    color: white;
    background-image: url("../images/bg-example1.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
}

.normal-overlay {
  text-align:center;
  position: absolute;
  color: rgb(0, 0, 0);
  top:30%;
  right:50%;
  transform:translate(50%, -50%);
}

.poor-normal-overlay {
  text-align:center;
  position: absolute;
  color: rgb(200, 160, 233);
  top:30%;
  right:50%;
  transform:translate(50%, -50%);
}

/* 1.4.4 Resize Text (AA) */
.container {
    width: 80%;
    min-height: 1em;
    background-color: white;
    padding: 2.5%;
    border-radius: 0.5em;
    border: 1px solid gray;
    margin-bottom: 5px;
}

.fixedSizeText p{
    margin: auto;
    color:black;
    font-size: 12px;
}

.percentText p{
    margin: auto;
    color: black;
    font-size: 100%;
}

.emText p{
    margin: auto;
    color: black;
    font-size: 1em;
}

.namedText p{
    margin: auto;
    color: black;
    font-size: medium;
}

.correctFlow {
  width: 95%;
  display: flex;
  flex-wrap: wrap;
}

.correctFlow > * {
  border-radius: 5px;
}

.flowContainer {
    width: 5em;
    height: 1em;
    margin:auto;
    background-color: white;
    padding: 2.5%;
    border-radius: 0.5em;
    border: 1px solid gray;
    margin-bottom: 5px;
}

.noFlow {
  width:95%;
  display: flex;
  flex-wrap: nowrap;
}

.noFlow > * {
  border-radius: 5px;
}

/* 1.4.6 contrast (Enhanced) */
.gl-1-4-6-normal-text-insufficient {
    color: #A34100;
}

.gl-1-4-6-large-text-insufficient {
    color: #D65600;
}

.enhanced-BGcolor-example {
   position:relative;
    height: 100px;
    width: 100%;
    color: white;
    background-image: url("../images/bg-example2.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
}

.enhanced-normal-overlay {
  text-align:center;
  position: absolute;
  color: rgb(255, 255, 255);
  top:30%;
  right:50%;
  transform:translate(50%, -50%);
}

.poor-enhanced-normal-overlay {
  text-align:center;
  position: absolute;
  color: rgb(22, 87, 177);
  top:30%;
  right:50%;
  transform:translate(50%, -50%);
}

/* 1.4.8 */
.gl-1-4-8-justified-text p{
  text-align: justify;
  text-justify: inter-character;
}

.gl-1-4-8-short-line-height p{
    line-height:1;
}

/* included for showing checkbox without labebls */
.touch-target [type="checkbox"]:not(:checked)+span:before,
.touch-target [type="checkbox"]:checked+span:before {
  content: '';
  position: absolute;
  margin-left: -1.70em;
  margin-top: -0.20em;

  min-width: 24px;
  min-height: 24px;
  border: 1px dotted red;
  background: transparent;
}