

/** HEADER **/
header,
h1,
h2,
h3,
h4,
h5,
h6,
strong {
    font-family: "Open Sans", sans-serif;
    color: #333;
}

header h1 {
    text-align: center;
}

.nav-links {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

/** MAIN **/
main {
    margin: 0 auto;
    max-width: 70rem;
    min-height: 80vh;
}

img {
    width: 100%;
    border: 1px solid black;
}

table,
th,
td {
    border: 1px solid #333;
    border-collapse: collapse;
    text-align: center;
}

table {
    width: 100%;
}

/** EXAMPLE BOXES **/
.example-box {
    display: flex;
    gap: 1em;
    margin-bottom: 2rem;
}

/* pass flex:1 to direct children on example-box. */
.example-box > * {
    flex: 1;
    padding: 1em;
}

/* 1.3.2 white space example */
.column-example {
    display: flex;
    flex-direction: row-reverse;
    gap: 1em;
}

.column-example > * {
    flex: 1;
}

.column-example-corr {
    display: flex;
    flex-direction: row;
    gap: 1em;
}

.column-example-corr > * {
    flex: 1;
}

.white-spacing {
    letter-spacing: 0.3em;
}

/* 1.3.3 sensory characteristics example */
.nav-menu {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

.nav-menu > * {
    font-size: 30px;
    display: flex;
    flex-direction: column;
}

.correct {
    background-color: #88c98280;
    border: 1px solid darkgreen;
    border-radius: 0.5em;
}

.wrong {
    background-color: #e5767680;
    border: 1px solid darkred;
    border-radius: 0.5em;
}

/** FOOTER **/
footer {
    text-align: center;
}
